.container{
    text-align: center;
    
}

img{
    width: 150px;
}

.col-lg-6{
    float: left;
}

.col-lg-6::after{
    content: "";
    display: table;
    clear: both;   
}

.trasparente{
    background-color: #428BCA;
    border-radius: 50%;
}

hr{
    border: 1px solid lightslategrey;
    width: 80%;
}

.col-xs-12{
    background-color: #F2F2CD;
}